<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuhu.springboodemo.module.test.mapper.TestCityMapper">
    <resultMap id="testCityMap" type="com.xuhu.springboodemo.module.test.domain.TestCity">
        <id property="id" column="id"/>

        <result property="name" column="Name"/>
        <result property="countryCode" column="CountryCode"/>
        <result property="district" column="District"/>
        <result property="population" column="Population"/>

    </resultMap>


    <sql id="columns">
        id, Name, CountryCode, District, Population
    </sql>

    <select id="getCityList" resultMap="testCityMap">
        select
        <include refid="columns"/>
        from city
    </select>


</mapper>